[defaults]
inventory = inventory/hosts
roles_path = roles:playbooks/casc/playbooks/roles
host_key_checking = False
retry_files_enabled = False
stdout_callback = ansible.builtin.default
callback_result_format = yaml
interpreter_python = auto_silent
pipelining = True

[privilege_escalation]
become = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlTimeout=60s
