---
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: {{ apache_exposure_vm_name }}-http-probe
  namespace: {{ vm_namespace | default('aiops-demo') }}
  labels:
    openshift.io/user-monitoring: "true"
spec:
  jobName: {{ openshift_apache_monitoring_probe_job | default('apache-http') }}
  interval: {{ openshift_apache_monitoring_probe_interval | default('10s') }}
  scrapeTimeout: {{ openshift_apache_monitoring_probe_scrape_timeout | default('5s') }}
  prober:
    url: {{ openshift_apache_monitoring_blackbox_prober | default('blackbox-exporter.aiops-demo.svc:9115') }}
    path: /probe
    scheme: http
  module: http_2xx
  targets:
    staticConfig:
      static:
        - http://{{ apache_exposure_service_name }}.{{ vm_namespace | default('aiops-demo') }}.svc.cluster.local/
      labels:
        vm_name: "{{ apache_exposure_vm_name }}"
        service: "{{ apache_exposure_service_name }}"
        namespace: "{{ vm_namespace | default('aiops-demo') }}"
