apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ vm_name }}
  namespace: {{ vm_namespace }}
  annotations:
    {{ vm_ip_annotation }}: "{{ vm_ip }}"
spec:
  runStrategy: Always
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{"name":"{{ vm_udn_name }}","namespace":"{{ vm_namespace }}","interface":"{{ vm_udn_pod_interface }}","ips":["{{ vm_ip }}/{{ vm_ip_prefix_length }}"]}]
    spec:
      domain:
        cpu:
          cores: 1
          sockets: {{ cpus | int }}
          threads: 1
          maxSockets: {{ vm_cpu_max_sockets | default([cpus | int * 4, 8] | max) }}
        memory:
          guest: {{ mem }}Gi
          maxGuest: {{ vm_mem_max_guest | default((mem | int * 2) ~ 'Gi') }}
        resources:
          requests:
            memory: {{ mem }}Gi
        devices:
          disks:
            - name: container-boot-disk
              disk:
                bus: virtio
            - name: cloudinit-disk
              disk:
                bus: virtio
          interfaces:
            - name: default
              masquerade: {}
              ports:
                - port: 22
                  protocol: TCP
                - port: 80
                  protocol: TCP
            - name: {{ vm_udn_pod_interface }}
              bridge: {}
      networks:
        - name: default
          pod: {}
        - name: {{ vm_udn_pod_interface }}
          multus:
            networkName: {{ vm_namespace }}/{{ vm_udn_name }}
      volumes:
        - name: container-boot-disk
          containerDisk:
            image: {{ image }}
            imagePullPolicy: IfNotPresent
        - name: cloudinit-disk
          cloudInitNoCloud:
{% if vm_manifest_existing_cloud_init_userdata is defined and vm_manifest_existing_cloud_init_userdata | string | trim | length > 0 %}
            userData: |
{{ vm_manifest_existing_cloud_init_userdata | indent(14, first=True) }}
{% if vm_manifest_existing_cloud_init_networkdata is defined and vm_manifest_existing_cloud_init_networkdata | string | trim | length > 0 %}
            networkData: |
{{ vm_manifest_existing_cloud_init_networkdata | indent(14, first=True) }}
{% else %}
            networkData: |
              version: 2
              ethernets:
                {{ vm_primary_guest_interface }}:
                  dhcp4: true
                {{ vm_secondary_guest_interface }}:
                  dhcp4: false
                  addresses:
                    - {{ vm_ip }}/{{ vm_ip_prefix_length }}
{% endif %}
{% else %}
            userData: |
              #cloud-config
              chpasswd:
                expire: false
              password: {{ password }}
              user: fedora
              runcmd:
                - setsebool -P virt_qemu_ga_manage_ssh on
            networkData: |
              version: 2
              ethernets:
                {{ vm_primary_guest_interface }}:
                  dhcp4: true
                {{ vm_secondary_guest_interface }}:
                  dhcp4: false
                  addresses:
                    - {{ vm_ip }}/{{ vm_ip_prefix_length }}
{% endif %}
      accessCredentials:
        - sshPublicKey:
            propagationMethod:
              qemuGuestAgent:
                users:
                  - fedora
            source:
              secret:
                secretName: {{ ssh_secret_name }}
