---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blackbox-exporter
  namespace: {{ openshift_generic_app_monitoring_namespace }}
  labels:
    app: blackbox-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blackbox-exporter
  template:
    metadata:
      labels:
        app: blackbox-exporter
    spec:
      containers:
        - name: blackbox-exporter
          image: {{ openshift_generic_app_monitoring_blackbox_image }}
          ports:
            - name: probe
              containerPort: 9115
          readinessProbe:
            httpGet:
              path: /-/healthy
              port: probe
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: probe
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
            runAsNonRoot: true
---
apiVersion: v1
kind: Service
metadata:
  name: blackbox-exporter
  namespace: {{ openshift_generic_app_monitoring_namespace }}
  labels:
    app: blackbox-exporter
spec:
  selector:
    app: blackbox-exporter
  ports:
    - name: probe
      port: 9115
      targetPort: probe
